<div class="border-form-div">
   <h2>Sign in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email,  placeholder: "Email"%>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "off",placeholder: "Password" %>
    </div>

    <%# if devise_mapping.rememberable? -%>
  <!--                  <span>-->
            <%#= f.check_box :remember_me %>
  <!--          <%#= f.label :remember_me %></span>-->
    <%# end -%>
    <div class="actions">
      <%=  f.submit "LOG IN",class: "btn btn-default" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
