<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<%@count =0%>  
							<% @category.each do |t| %>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href="#<%=t.name%>">				
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												<%= t.name%>
											</a>
										</h4>
									</div>
									<div id="<%=t.name%>" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>	
												<%@list[@count].each do |t2|%>
												<%@cate=t.name%>
												<%@pro = t2%>
													 <%= link_to product_index_path(:param1 => @cate,:param2=>  @pro) do%>
														<li><%=t2%></li>
													<%end%>
												 <%end%>
											 <%@count=@count+1%>
											</ul>
										</div>
									</div>
								</div>
							<% end %>
						</div>
					
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
								<%@count=0%>
								<%@Producers.each do |t|%>
								<%@cate="All"%>
								<%@pro =t.name%>
								 <%= link_to product_index_path(:param1 => @cate,:param2=>  @pro) do%>
									<li><p><span class="pull-right">(<%=@list_number_product_of_producer[@count]%>)</span><%=t.name%><p></li>
									<%end%>
									<%@count=@count+1%>
								<%end%>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b>$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src="images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
        
                    <h3 style="color:#3a6070";>Update category</h3>
                    <%=form_for @categories,url:{action:"update"} do |f|%>
                    <%=render partial:"category/form", :locals=>{:f => f}%>
                    <%end%>
                    </div>
                </div>
			</div>
		</div>
	</section>      