	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<%@count =0%>  
							<% @Categories.each do |t| %>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href="#<%=t.name%>">				
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												<%= t.name%>
											</a>
										</h4>
									</div>
									<div id="<%=t.name%>" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>	
												<%@list[@count].each do |t2|%>
												<%@cate=t.name%>
												<%@pro = t2%>
													 <%= link_to product_index_path(:param1 => @cate,:param2=>  @pro) do%>
														<li><%=t2%></li>
													<%end%>
												 <%end%>
											 <%@count=@count+1%>
											</ul>
										</div>
									</div>
								</div>
							<% end %>
						</div>
					
					<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
								<%@count=0%>
								<%@Producers.each do |t|%>
								<%@cate="All"%>
								<%@pro =t.name%>
								 <%= link_to product_index_path(:param1 => @cate,:param2=>  @pro) do%>
									<li><p><span class="pull-right">(<%=@list_number_product_of_producer[@count]%>)</span><%=t.name%><p></li>
									<%end%>
									<%@count=@count+1%>
								<%end%>
								</ul>
							</div>
						</div><!--/brands_products-->

					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
								<div class="slick-initialized slick-slider" id="product-main-img">
										<div class="product-preview">
											<img src="<%=@product.images[0]%>" alt="">
										</div>
									</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">		
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
											<%@count = 1%>
											<% while @count <@product.images.length %>	
										 		 <a href=""><img src="<%=@product.images[@count]%>" style="width:85px; height: 84;" alt=""></a>
												  <%@count = @count+1%>
											<%end%>
										</div>
									</div>
								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="" class="newarrival" alt="" />
								<h2><%=@product.name%></h2>
								<img src="" alt="" />
								<span>
									<span><%=number_with_delimiter(@product.price.to_i)	%> VND</span>
									<label>Quantity:</label>
									<input type="text" value="1" />
									</span>
									<div>	
										<%= form_for(@order_item, remote: true) do |f| %>
											<%# <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %> 
											<div class="form-group">
												<%= f.hidden_field :product_id, value: @product.id %>
												<%= f.number_field :quantity, value: 1 %>
												<%= f.submit "Add to Cart", class: "btn btn-default add-to-cart" %>		
											</div>		
										<% end %>
									</div>
								
								<p><b>Tình trạng:</b> <%=@product.status%></p>
								<p><b>Điều kiện:</b> New</p>
								<p><b>Thương hiệu:</b> <%=@producer_name[0]%></p>
								<a href=""><img src="" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">Thông số kỹ thuật</a></li>
								<li><a href="#companyprofile" data-toggle="tab">Sản phẩm liên quan</a></li>
								<li ><a href="#reviews" data-toggle="tab">Bình luận (<%=@Comment.length%>)</a></li>
							</ul>
						</div>
						<div class="tab-content">
								<div class="tab-pane fade active in" id="details" >
										<table style="width: 90%; background-color: white; border-collapse: collapse">
											<tr>
												<td class="left-td">CPU</td>
												<td><%=@product.cpu%></td>
											</tr>
											<tr>
												<td class="left-td">RAM</td>
												<td><%=@product.ram%></td>
											</tr>
											<tr>
												<td class="left-td">MEMORY</td>
												<td><%=@product.memory%></td>
											</tr>
											<tr>
												<td class="left-td">VGA</td>
												<td><%=@product.vga%></td>
											</tr>
											<tr>
												<td class="left-td">Camera trước</td>
												<td><%=@product.front_camera%></td>
											</tr>
											<tr>
												<td class="left-td">Camera sau</td>
												<td><%=@product.back_camera%></td>
											</tr>
											<tr>
												<td class="left-td">Bluetooth</td>
												<td><%=@product.bluetooth%></td>
											</tr>	
											<tr>
												<td class="left-td">Screen</td>
												<td><%=@product.screen%></td>
											</tr>	
											<tr>
												<td class="left-td">Pin</td>
												<td><%=@product.pin%></td>
											</tr>
											<tr>
												<td class="left-td">OS</td>
												<td><%=@product.os%></td>
											</tr>
											<tr>
												<td class="left-td">Weight</td>
												<td><%=@product.weight%></td>
											</tr>
										</table>
									</div>
							<div class="tab-pane fade" id="companyprofile" >
								<%@product_same_producer.each do |t|%>
									<div class="col-sm-3">
										<div class="product-image-wrapper" >
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="<%=t.images[0]%>"style="height: 200px;width:184px"  alt="" />
													<h2><%=number_with_delimiter(t.price.to_i)%>VND</h2>
													<p style="weight:183; height: 60px"><%=t.name%></p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
											</div>
										</div>
									</div>
								<%end%>
							</div>
							
							<div class="tab-pane fade " id="reviews" >
								<%= render 'showcomments'  %><!--End show comment-->
								<p><b>Write Your Review</b></p>
								<%= render 'comments' %>
							</div>
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<%@count=0%>
									<%(1..3).each do |i|%>
										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src= "<%=@Recommended[@count].images[0]%>" style="height: 200px;width:184px"  alt="" />
														<h2><%=number_with_delimiter(@Recommended[@count].price.to_i)%>VND</h2>
														<p style="weight:183; height: 60px"><%=@Recommended[@count].name%></p>
														<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
													</div>
												</div>
											</div>
										</div>
									<%@count=@count+1%>
									<%end%>
								</div>
								<%(1..@Num_of_item_recommend).each do |i|%>
									<div class="item">	
										<%(1..3).each do |j|%>
											<div class="col-sm-4">
												<div class="product-image-wrapper">
													<div class="single-products">
														<div class="productinfo text-center">
															<img src= "<%=@Recommended[@count].images[0]%>"  style="height: 200px;width:184px"  alt="" />
															<h2><%=@Recommended[@count].price%>VND</h2>
															<p style="weight:183; height: 60px"><%=@Recommended[@count].name%></p>
															<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
														</div>
													</div>
												</div>
											</div>
										<%@count=@count+1%>
										<%end%>
									</div>
								<%end%>
							</div>

							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>