<h1>New Producer</h1>

<%= form_for :producer, :html => {:multipart => true}, url: :producer, method: :put do |form| %>


  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :image%><br>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.submit "Save" %>
  </p>

<% end %>

<%= link_to 'Back', producer_index_path %>