	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<%@count =0%>  
							<% @Categories.each do |t| %>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href="#<%=t.name%>">				
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												<%= t.name%>
											</a>
										</h4>
									</div>
									<div id="<%=t.name%>" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>	
												<%@list[@count].each do |t2|%>
												<%@cate=t.name%>
												<%@pro = t2%>
													 <%= link_to product_index_path(:param1 => @cate,:param2=>  @pro) do%>
														<li><%=t2%></li>
													<%end%>
												 <%end%>
											 <%@count=@count+1%>
											</ul>
										</div>
									</div>
								</div>
							<% end %>
						</div>
						
					   <div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
								<%@count=0%>
								<%@Producers.each do |t|%>
								<%@cate="All"%>
								<%@pro =t.name%>
								 <%= link_to product_index_path(:param1 => @cate,:param2=>  @pro) do%>
									<li><p><span class="pull-right">(<%=@list_number_product_of_producer[@count]%>)</span><%=t.name%><p></li>
									<%end%>
									<%@count=@count+1%>
								<%end%>
								</ul>
							</div>
						</div><!--/brands_products-->
                	</div>
                </div>
                <div class="col-sm-9 padding-right">
                    <h2 class="title text-center">Add Product</h2>
						<%= form_for :product_adim, :html => {:multipart => true}, url: :product_adim, method: :put do |form| %>
						  <h2 class="title1">Thông tin chung</h2>
							
							<div class="row-left">
							<p> 
								<b>Product name:</b> <%= form.text_field :name, class: 'form-control' %>
							</p>
							<p> 
								<b>Producer:</b> <%=form.select :producer_id, Producer.all.collect {|p| [ p.name,p.id]},{}, class: "form-control"%>
							</p>
							</div>
							<div class="row-right">
							<p> 
								<b>Category:</b> <%= form.select :category_id, Category.all.collect {|c| [c.name, c.id]}, {}, class: "form-control" %>
							</p>
							<p>
								<b>Image:</b> <%= form.file_field :images, multiple: true, class: 'form-control' %>
							</p>
							</div>
							<h2 class="title1">Thông tin chi tiết</h2>
							<div class="row-left">
								<p> 
									<b>CPU:</b> <%= form.text_field :cpu, class: 'form-control' %>
								</p>
								<p> 
									<b>RAM:</b> <%= form.text_field :ram, class: 'form-control' %>
								</p>
								<p> 
									<b>Memory:</b> <%= form.text_field :memory, class: 'form-control' %>
								</p>
								<p> 
									<b> VGA:</b> <%= form.text_field :vga, class: 'form-control' %>
								</p>
								<p> 
									<b>Front Camera:</b> <%= form.text_field :front_camera, class: 'form-control' %>
								</p>
								<p> 
									<b>Back Camera:</b> <%= form.text_field :back_camera, class: 'form-control' %>
								</p>
								<p> 
									<b>Status:</b> <%= form.text_field :status, class: 'form-control' %>
								</p>
							</div>
					
							<div class="row-right">
								<p> 
									<b>Sreen:</b> <%= form.text_field :screen, class: 'form-control' %>
								</p>
								<p> 
									<b>Bluetooth:</b> <%= form.text_field :bluetooth, class: 'form-control' %>
								</p>
								<p> 
									<b>OS:</b> <%= form.text_field :os, class: 'form-control' %>
								</p>
								<p> 
									<b>Weight:</b> <%= form.text_field :weight, class: 'form-control' %>
								</p>
								<p> 
									<b>Price:</b> <%= form.text_field :price, class: 'form-control' %>
								</p>
								<p> 
									<b>Quantity:</b> <%= form.text_field :numofbuy, class: 'form-control' %>
								</p>
								<p> 
									<b>Pin:</b> <%= form.text_field :pin, class: 'form-control' %>
								</p>
							
							</div>
									<p>
								<%= form.submit "Save", class: "btn btn-primary"  %>
							</p>
						<% end %>
					</div>
		    </div>
        </div>
	</section>